<!DOCTYPE html>
<html>
    <head>
<meta charset="utf-8">
<title>Help page</title>

    </head>
<body>
    <h1>{{pageTitle}}</h1>
    Hello, yall.
</body>
<footer>
<p>Current date is  {{currentMonth}}/{{currentDay}}/{{currentYear}}</p>
</footer>
</html>